In [1]:
# This is the Pandas code used to pull EoD Historical Data specific to 15 Major Market Indices around the world.
# The data is filtered to the 'close' column and Nulls are dropped.
# The time period of the data collected is 10 years.
# It is recognizd that we could have achieved some code efifciencies by clean and manipulating
# the data in the concatenated dataframe all at once, but we wanted the flexibility to use individual 
# dataframes for other purposes

# EOD_API_KEY = '64372ea719a4f5.97916520' --PAID SUBSCRIPTION

In [2]:
# Importing libraries, including the EoD Historical Data library.
import os
import pandas as pd
import requests
import datetime
import calendar
from eod import EodHistoricalData
from dotenv import load_dotenv

# Creating a variable that holds the API key
load_dotenv()
api_key = os.getenv("EOD_API_KEY")
client = EodHistoricalData(api_key)

In [3]:
# Time Series request to eodhistoricaldata.com
# Specific to Dow Jones Industrial Average
# 10 year period. Limited output to a single column named 'close' which is the daily close for that index.
# Renamed close column to DJIA, to aid with concatenation of dataframes later on.
# Daily variance calculated using pct_change.
# Data cleaning: Removed NULLs

ticker = "DJIA.US"
start_date = "2001-01-01" 
end_date = "2023-04-12"

djia_response = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
djia_data = pd.DataFrame(djia_response)
djia_data = djia_data.set_index('date')
djia_data = djia_data[['close']]
djia_data = djia_data.rename(columns={"close":"DJIA"})
djia_data = djia_data.dropna()
djia_data = djia_data.pct_change()
djia_data.tail()

                DJIA
date
2023-04-05  0.000000
2023-04-06  0.001376
2023-04-10  0.000916
2023-04-11  0.000915
2023-04-12  0.001371

In [4]:
# Time Series request to eodhistoricaldata.com
#  Specific S&P 500 INDEX FUND S&P 500 INDEX FUND-MEMBER SHARES
# 10 year period. Limited output to a single column named 'close' which is the daily close for that index.
# Renamed close column to DJIA, to aid with aggregation of data later on.
# Daily variance calculated using pct_change.
# Data cleaning: Removed NULLs

ticker = "USSPX.US"
start_date = "2001-01-01" 
end_date = "2023-04-12"

gspc_response = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
gspc_data = pd.DataFrame(gspc_response)
gspc_data = gspc_data.set_index('date')
gspc_data = gspc_data[['close']]
gspc_data = gspc_data.rename(columns={"close":"GSPC"})
gspc_data = gspc_data.dropna()
gspc_data = gspc_data.pct_change()
gspc_data.tail()

                GSPC
date
2023-04-05 -0.002675
2023-04-06  0.003641
2023-04-10  0.000955
2023-04-11  0.000000
2023-04-12 -0.004196

In [5]:
# Time Series request to eodhistoricaldata.com
# Specific to Sao Paulo Bovespa Index in Brazil. This Index existed until Dec 17, 2021.
# 10 year period. Limited output to a single column named 'close' which is the daily close for that index.
# Daily variance calculated using pct_change.
# Data cleaning: Removed NULLs
ticker = "IBOV.SA"
start_date = "2001-01-01" 
end_date = "2023-04-12"

ibov_response = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
ibov_data = pd.DataFrame(ibov_response)
ibov_data = ibov_data.set_index('date')
ibov_data = ibov_data[['close']]
ibov_data = ibov_data.rename(columns={"close":"IBOV"})
ibov_data = ibov_data.dropna()
ibov_data = ibov_data.pct_change()
ibov_data.tail()

                IBOV
date
2021-12-13 -0.003480
2021-12-14 -0.005805
2021-12-15  0.006288
2021-12-16  0.008332
2021-12-17 -0.010392

In [6]:
# Time Series request to eodhistoricaldata.com
# Specific to OBX Index in Norway
# 10 year period. Limited output to a single column named 'close' which is the daily close for that index.
# Daily variance calculated using pct_change.
# Data cleaning: Removed NULLs

ticker = "OBX.OL"
start_date = "2001-01-01" 
end_date = "2023-04-12"

obx_response = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
obx_data = pd.DataFrame(obx_response)
obx_data = obx_data.set_index('date')
obx_data = obx_data[['close']]
obx_data = obx_data.rename(columns={"close":"OBX"})
obx_data = obx_data.dropna()
obx_data = obx_data.pct_change()
obx_data.tail()

                 OBX
date
2019-07-31  0.008636
2019-08-01  0.004508
2019-08-02 -0.012219
2019-08-05 -0.022450
2019-08-06  0.003880

In [7]:
# Time Series request to eodhistoricaldata.com
# Specific to NIFTY MIDCAP 50 index on the India Stock Exchange NSE
# 10 year period. Limited output to a single column named 'close' which is the daily close for that index.
# Daily variance calculated using pct_change.
# Data cleaning: Removed NULLs

ticker = "NIFTYMID50.NSE"
start_date = "2001-01-01" 
end_date = "2023-04-12"

nifty_response = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
nifty_data = pd.DataFrame(nifty_response)
nifty_data = nifty_data.set_index('date')
nifty_data = nifty_data[['close']]
nifty_data = nifty_data.rename(columns={"close":"NIFTYMID50"})
nifty_data = nifty_data.dropna()
nifty_data = nifty_data.pct_change()
nifty_data.tail()

            NIFTYMID50
date
2019-07-24   -0.018837
2019-07-25    0.003490
2019-07-26    0.008141
2019-07-29   -0.011106
2019-07-30   -0.022610

In [8]:
# Time Series request to eodhistoricaldata.com
# Specific to RTS Industry Index on the Russia Stock Exchange MCX 
# 10 year period. Limited output to a single column named 'close' which is the daily close for that index.
# Daily variance calculated using pct_change.
# Data cleaning: Removed NULLs

ticker = "RTSSTD.MCX"
start_date = "2001-01-01" 
end_date = "2023-04-12"

rtsstd_response = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
rtsstd_data = pd.DataFrame(rtsstd_response)
rtsstd_data = rtsstd_data.set_index('date')
rtsstd_data = rtsstd_data[['close']]
rtsstd_data = rtsstd_data.rename(columns={"close":"RTSSTD"})
rtsstd_data = rtsstd_data.dropna()
rtsstd_data = rtsstd_data.pct_change()
rtsstd_data.tail()

              RTSSTD
date
2019-01-14 -0.002153
2019-01-15 -0.000603
2019-01-16 -0.002657
2019-01-17  0.005626
2019-01-18  0.011621

In [9]:
# Time Series request to eodhistoricaldata.com
# Specific to OBX Index in Norway
# 10 year period. Limited output to a single column named 'close' which is the daily close for that index.
# Daily variance calculated using pct_change.
# Data cleaning: Removed NULLs

ticker = "OBX.OL"
start_date = "2001-01-01" 
end_date = "2023-04-12"

obx_response = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
obx_data = pd.DataFrame(obx_response)
obx_data = obx_data.set_index('date')
obx_data = obx_data[['close']]
obx_data = obx_data.rename(columns={"close":"OBX"})
obx_data = obx_data.dropna()
obx_data = obx_data.pct_change()
obx_data.tail()

                 OBX
date
2019-07-31  0.008636
2019-08-01  0.004508
2019-08-02 -0.012219
2019-08-05 -0.022450
2019-08-06  0.003880

In [10]:
# Concatenate all Dataframes, using an inner join.
all_indices = pd.concat([djia_data, gspc_data, ibov_data, obx_data, nifty_data, rtsstd_data], axis="columns", join="outer")
all_indices.dropna()
display(all_indices.head())
display(all_indices.tail())

                DJIA      GSPC  IBOV  OBX  NIFTYMID50  RTSSTD
date
2022-02-24       NaN  0.016918   NaN  NaN         NaN     NaN
2022-02-25  0.015618  0.022182   NaN  NaN         NaN     NaN
2022-02-28  0.000692 -0.001400   NaN  NaN         NaN     NaN
2022-03-01 -0.013253 -0.015072   NaN  NaN         NaN     NaN
2022-03-02  0.015985  0.017972   NaN  NaN         NaN     NaN

            DJIA  GSPC  IBOV  OBX  NIFTYMID50    RTSSTD
date
2018-03-30   NaN   NaN   NaN  NaN         NaN -0.002243
2018-04-28   NaN   NaN   NaN  NaN         NaN -0.002852
2018-06-09   NaN   NaN   NaN  NaN         NaN  0.006467
2018-12-25   NaN   NaN   NaN  NaN         NaN -0.014434
2018-12-29   NaN   NaN   NaN  NaN         NaN  0.003887